.complete {
  text-decoration: line-through;
}

body{
  color: greenyellow;
  background-color: black;
} 

.app{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

button{
  color: black;
  background-color:yellowgreen;
}